body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    margin: 0 ;
    padding: 0;
}

.circle {
    width: 150px;
    height: 150px;
    background-color: #612b2c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.panel a{
    text-decoration: none;
    color: var(--color-secundario);
}
.circle:hover {
    background-color: var(--color-quinto);
}
.panel {
    padding-top: 30px;
    text-align: center;
}

.panelh1{
    color: var(--color-tercero);
    padding-bottom: 40px;
}

.titleform{
    margin-bottom: 30px;
    text-align: center;
}

.form-control{
    margin-top: 10px;
    margin: 10px;
}

.col-md-4 {
    background-color: #035e6441;
    padding: 3ch;
    backdrop-filter: blur(10px);
    border-radius: 12px;

}

.col-md-8 {
    background-color: #a79bb362;
    padding: 3ch;
    backdrop-filter: blur(10px);  
    border-radius: 12px;
}

#membersfilter, #listTrainings, .btn{
    background-color: var(--color-sexto);
}

.navtop h1{
text-align: left;
}

.volver{
    background-color: var(--color-quinto);
    color: var(--color-secundario);
}

.volver:hover{
    background-color: var(--color-quinto);
    color: var(--color-tercero);
}